.page-payment-veritrans-return {
	text-align:center;
}

.page-payment-veritrans-return .trans-success {
	color:#0f0;
}

.page-payment-veritrans-return .trans-failed {
	color:#f00;
}

.page-payment-veritrans-return .page-veritrans-respons {
	font-family: 'HelveticaNeue45Light', Arial, sans-serif;
	font-size: 18px;
}

.page-payment-veritrans-return .page-veritrans-respons .email {
	font-size:20px;
	color:#b30404;
	padding:10px 0px;
}

.page-payment-veritrans-return .page-veritrans-respons p {
	margin-bottom:0;
}

.page-payment-veritrans-return .page-veritrans-respons .thanks-share {
	margin-bottom: 50px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 265px;
	display: block;
	padding-bottom: 20px;
}

h2.please-wait {
	color:#b30404;
	padding:10px 0px;
}